
.top-menu {
  width: auto;
  height: fit-content;
  display: inline-flex;
  block-size: max-content;
  transform-origin: center top;
}

.settings-title {
  background-color: #00000080;
  border-radius: 0px 0px 5px 5px;
  right: 0px;
  font-size: 100%;
  height: 15px;
  width:auto;
  padding: 5px 10px 3px;
  cursor: pointer;
  display: flex;
}

.settings-title:hover :first-child {
  animation-name: rotation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.inner-setting-title {
  color: #FFF;
  font-family: Black;
  margin: 0px 0px 0px 3px;
  text-transform: uppercase;
}

.inner-shesterenka {
  color: #FFF;
  font-family: Black;
}

@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

.telegram-title {
  background-color: #17bde2;
  border-radius: 0px 0px 5px 5px;
  color: #FFF;
  right: 0px;
  font-size: 100%;
  height: 14px;
  width: auto;
  font-family: Black;
  padding: 5px 10px 3px;
  cursor: pointer;
  margin: 0px 0px 0px 7px;
  text-transform: uppercase;
}

.top-title {
  background-color: rgba(0,0,0, 0.5);
  border-radius: 0px 0px 5px 5px;
  color: #FFF;
  right: 0px;
  font-size: 100%;
  height: 15px;
  width: auto;
  font-family: Black;
  padding: 5px 10px 3px;
  margin: 0px 7px;
  cursor: pointer;
}

.discord-title {
  background-color: #9163FF;
  border-radius: 0px 0px 5px 5px;
  color: #FFF;
  right: 0px;
  font-size: 100%;
  height: 15px;
  width: auto;
  font-family: Black;
  padding: 5px 10px 3px;
  cursor: pointer;
  margin: 0px 7px 0px 0px;
  text-transform: uppercase;
}

.donate-title {
  background-color: skyblue;
  border-radius: 0px 0px 5px 5px;
  color: #FFF;
  right: 0px;
  font-size: 100%;
  height: 15px;
  width: auto;
  font-family: Black;
  padding: 5px 10px 3px;
  cursor: pointer;
  transform-origin: top;
  margin: 0px 7px 0px 0px;
  text-transform: uppercase;
}

.setting-tab {
  font-family: Black;
  color: #a9a9a9;
  border-radius: 5px 5px 0px 0px;
  flex: 1 1 0%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: relative;
  padding: 0px 8px;
}

.setting-tab:before {
  inset: 0px 4px 4px;
  content: "";
  position: absolute;
  background-color: #00000033;
  z-index: -1;
  border-radius: 5px 5px 0px 0px;
}

.setting-tab.selected {
  color: #301a6b;
  background-color: #cecece80;
}

.setting-tab.selected:before {
  content: "";
  display: none;
}


.settings-tabs {
  display: flex;
  flex-direction: row;
  height: 30px; 
}

.inner-settings-box {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}

.settings-menu {
  position: relative;
  width: 800px;
  height: 700px;
  border-radius: 12px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.background-menu {
  z-index: 2;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  -webkit-box-pack: center;
  background-color: #000000cc;
  inset: 0px;
  display: flex;
  position: absolute;
  opacity: 0;
  transition: all 0.4s ease 0s;
}

.inner-settings-title {
  font-family: Black;
  font-size: 34px;
  color: #301a6b;
  text-align: center;
  line-height: 29px;
  text-transform: uppercase;
  padding: 20px;
}


.close-settings {
  font-family: ico;
  border: none;
  background: none;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  color: #aca7c6;
}

.hide-it-eye {
  font-family: ico;
  border: none;
  background: none;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 30px;
  height: 30px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  color: #aca7c6;
}


.settings-data {
  flex: 1 1 0%;
  background-color: rgba(206, 206, 206, 0.5);
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px;
}

.bottom-settings-space {
  width: 100%;
  height: 50px;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  padding: 10px 0px 0px 0px;
}

.my-button {
  width: 205px;
  height: 60px;
  background-color: #ececec;
  margin: 0 0 6px;
  box-shadow: 0px 6px 0px 0px #301a6b;
  text-transform: uppercase;
  font-family: Black;
  font-size: 21px;
  color: #301A6B;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.my-button:hover {
  background-color: #cab6e8;
}

.my-button:active {
  top: 3px;
  position: relative;
  box-shadow: 0px 3px 0px 0px #301a6b;
}



input[type="range" i] {
    appearance: auto;
    color: rgb(157, 150, 142);
    cursor: default;
    padding: initial;
    border: initial;
    margin: 2px;
}

input[type="range"].my-range {
  appearance: none;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  border-bottom-color: rgb(157, 150, 142);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(157, 150, 142);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(157, 150, 142);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(157, 150, 142);
  border-top-style: none;
  border-top-width: 0px;
  color: rgb(157, 150, 142);
  cursor: default;
  display: block;
  font-family: Arial;
  font-size: 13.3333px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 5px;
  letter-spacing: normal;
  line-height: 13.3333px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  outline-color: rgb(157, 150, 142);
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  speak: none;
  text-align: start;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  user-select: none;
  width: 170px;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-font-smoothing: antialiased;
  -webkit-rtl-ordering: logical;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-border-image: none;
}
